<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Read Mission</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    img{
      height: 25vh;
    }
    /* body{
      background-color: black;
    } */




  </style>


</head>
<body >

  <!-- Using a class -->
  <div class="alert alert-success">
    <strong>{{result}}</strong> </div>

  
<div class="card card-img-top">
  
    <img src="../static/images/hospital.jpg" alt="" srcset="" class="img-fluid" style="height: 500px;">

  

</div>

<div class="container mt-5">
  <h1 class=" text-center border p-1 rounded-2 shadow-lg text-warning " style="font-weight: bolder;">Hospital Read Mission</h1>

</div>


<div class="container mt-5">
 <div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="card rounded-5 shadow-lg " >
      <div class="card-img-top">
        <img src="../static/images/pexels-karolina-grabowska-4386467.jpg" alt="" class="img-fluid border rounded-5 " style="height: 450px;width: 100%; border:1px solid;">

      </div>
      <div class="card-body">
        <form action="/pred" method="POST">
          <!-- Age -->
          <label for="age" class="form-label">Age:</label>
          <input type="text" name="age" class="form-control" placeholder="Enter age"></input>
          <br>
        
          <!-- Time in Hospital -->
          <label for="time_in_hospital" class="form-label">Time in Hospital:</label>
          <input type="text" name="time_in_hospital" class="form-control" placeholder="Time in Hospital "></input>
          <br>
        
          <!-- Number of Lab Procedures -->
          <label for="num_lab_procedures" class="form-label">Number of Lab Procedures:</label>
          <input type="text" name="num_lab_procedures" class="form-control" placeholder="Number of Lab Procedures"></input>
          <br>
        
          <!-- Number of Procedures -->
          <label for="num_procedures" class="form-label">Number of Procedures:</label>
          <input type="text" name="num_procedures" class="form-control" placeholder="Number of Procedures"></input>
          <br>
        
          <!-- Number of Medications -->
          <label for="num_medications" class="form-label">Number of Medications:</label>
          <input type="text" name="num_medications" placeholder="Number of Medications" class="form-control"></input>
          <br>
        
          <!-- Number of Outpatient Visits -->
          <label for="number_outpatient" class="form-label">Number of Outpatient Visits:</label>
          <input type="text" name="number_outpatient" class="form-control" placeholder="Number of Outpatient Visits"></input>
          <br>
        
          <!-- Number of Emergency Visits -->
          <label for="number_emergency" class="form-label">Number of Emergency Visits:</label>
          <input type="text" name="number_emergency" class="form-control" placeholder="Number of Emergency Visits"></input>
          <br>
        
          <!-- Number of Inpatient Visits -->
          <label for="number_inpatient" class="form-label">Number of Inpatient Visits:</label>
          <input type="text" name="number_inpatient" class="form-control" placeholder="Number of Inpatient Visits"></input>
          <br>
          
        
        
        
          <!-- Number of Diagnoses -->
          <label for="number_diagnoses" class="form-label">Number of Diagnoses:</label>
          <input type="text" name="number_diagnoses" class="form-control" placeholder="Number of Diagnoses"></input>
          <br>
        
          <!-- Race -->
          <label for="race" class="form-label">Race:</label>
          <select id="race" name="race" class="form-select">
            <option value="0">Caucasian</option>
            <option value="1">African American</option>
            <option value="2">Other</option>
            <option value="3">Asian</option>
            <option value="4">Hispanic</option>
          </select>
          <br>
        
          <!-- Gender -->
          <label for="gender" class="form-label">Gender:</label>
          <select id="gender" name="gender" class="form-select">
            <option value="0">Female</option>
            <option value="1">Male</option>
          </select>
          <br>
        
          <!-- Admission Type -->
          <label for="admission_type_id" class="form-label">Admission Type:</label>
          <select id="admission_type_id" name="admission_type_id" class="form-select">
            <option value="0">Emergency</option>
            <option value="1">Elective</option>
            <option value="2">New Born</option>
            <option value="3">Trauma Center</option>
          </select>
          <br>
        
          <!-- Discharge Disposition -->
          <label for="discharge_disposition_id" class="form-label">Discharge Disposition:</label>
          <select id="discharge_disposition_id" name="discharge_disposition_id" class="form-select">
            <option value="0">Discharged to Home</option>
            <option value="1">Other</option>
          </select>
          <br>
        
          <!-- Admission Source -->
          <label for="admission_source_id" class="form-label">Admission Source:</label>
          <select id="admission_source_id" name="admission_source_id" class="form-select">
            <option value="0">Referral</option>
            <option value="1">Emergency</option>
            <option value="2">Other</option>
          </select>
          <br>
          <!-- Age -->
          <label for="diag_1" class="form-label">diag_1:</label>
          <input type="text" name="diag_1" class="form-control"></input>
          <br>
          <!-- Age -->
          <label for="diag_2 " class="form-label">diag_2:</label>
          <input type="text" name="diag_2" class="form-control"></input>
          <br>
          <!-- Age -->
          <label for="diag_3" class="form-label">diag_3:</label>
          <input type="text" name="diag_3" class="form-control"></input>
          <br>
          <!-- Max Glu Serum -->
          <label for="max_glu_serum" class="form-label">Max Glu Serum:</label>
          <select id="max_glu_serum" name="max_glu_serum" class="form-select">
            
            <option value="0">&gt;300</option>
            <option value="1">Norm</option>
            <option value="2">&gt;200</option>
          </select>
          <br>
        
          <!-- A1C Result -->
          <label for="A1Cresult" class="form-label">A1C Result:</label>
          <select id="A1Cresult" name="A1Cresult" class="form-select">
            
            <option value="0">&gt;7</option>
            <option value="1">&gt;8</option>
            <option value="2">Norm</option>
          </select>
          <br>
        
          <!-- Metformin -->
          <label for="metformin" class="form-label">Metformin:</label>
          <select id="metformin" name="metformin" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <label for="repaglinide" class="form-label">repaglinide:</label>
          <select id="repaglinide" name="repaglinide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <label for="nateglinide" class="form-label">nateglinide:</label>
          <select id="nateglinide" name="nateglinide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="chlorpropamide" class="form-label">chlorpropamide:</label>
          <select id="chlorpropamide" name="chlorpropamide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="glimepiride" class="form-label">glimepiride:</label>
          <select id="glimepiride" name="glimepiride" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="acetohexamide" class="form-label">acetohexamide:</label>
          <select id="acetohexamide" name="acetohexamide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
        
          </select>
          <br>
          <br>
          <label for="glipizide" class="form-label">glipizide:</label>
          <select id="glipizide" name="glipizide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="glyburide" class="form-label">glyburide:</label>
          <select id="glyburide" name="glyburide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="tolbutamide" class="form-label">tolbutamide:</label>
          <select id="tolbutamide" name="tolbutamide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="pioglitazone" class="form-label">pioglitazone:</label>
          <select id="pioglitazone" name="pioglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="rosiglitazone" class="form-label">rosiglitazone:</label>
          <select id="rosiglitazone" name="rosiglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="acarbose" class="form-label">acarbose:</label>
          <select id="acarbose" name="acarbose" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="miglitol" class="form-label">miglitol:</label>
          <select id="miglitol" name="miglitol" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="troglitazone" class="form-label">troglitazone:</label>
          <select id="troglitazone" name="troglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
          </select>
          <br>
          <br>
          <label for="tolazamide" class="form-label">tolazamide:</label>
          <select id="tolazamide" name="tolazamide" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
        
          </select>
          <br>
          <br>
          <label for="examide" class="form-label">examide:</label>
          <select id="examide" class="form-select" name="examide">
            <option value="0">No</option>
          </select>
          <br>
          <br>
          <label for="citoglipton" class="form-label">citoglipton:</label>
          <select id="citoglipton" name="citoglipton" class="form-select">
            <option value="0">No</option>
          </select>
          <br>
          <br>
          <label for="insulin" class="form-label">insulin:</label>
          <select id="insulin" class="form-select" name="insulin">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="glyburide-metformin" class="form-label">glyburide-metformin:</label>
          <select id="glyburide-metformin" name="glyburide-metformin" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
            <option value="2">Up</option>
            <option value="3">Down</option>
          </select>
          <br>
          <br>
          <label for="glipizide-metformin" class="form-label">glipizide-metformin:</label>
          <select id="glipizide-metformin" name="glipizide-metformin" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
          </select>
          <br>
          <br>
          <label for="glimepiride-pioglitazone" class="form-label">glimepiride-pioglitazone:</label>
          <select id="glimepiride-pioglitazone" name="glimepiride-pioglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
          </select>
          <br>
          <br>
          <label for="metformin-rosiglitazone" class="form-label">metformin-rosiglitazone:</label>
          <select id="metformin-rosiglitazone" name="metformin-rosiglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
          </select>
          <br>
          <br>
          <label for="metformin-pioglitazone" class="form-label">metformin-pioglitazone:</label>
          <select id="metformin-pioglitazone" name="metformin-pioglitazone" class="form-select">
            <option value="0">No</option>
            <option value="1">Steady</option>
          </select>
          <br>
        
        
        
          <!-- Change -->
          <label for="change" class="form-label">Change:</label>
          <select id="change" class="form-select" name="change">
            <option value="0">No</option>
            <option value="1">Ch</option>
          </select>
          <br>
        
          <!-- Diabetes Medication -->
          <label for="diabetes_med" class="form-label">Diabetes Medication:</label>
          <select id="diabetes_med" name="diabetes_med" class="form-select">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <br>
        
          <!-- Submit Button -->
          <input type="submit" class="btn btn-success btn-lg"></input>
        
        </form>
        
        
        
        
        

      </div>

    </div>

  </div>

  <div class="col-md-3">

  </div>

 </div>

</div>






  
</body>
</html>